.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 640px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

.cells{
  max-height: 600px;
  overflow:auto;
}
.cells table{
  border-collapse:collapse;
}
.cells td{
  padding:0;
  margin:0;
  min-width: 40px;
  border: 1px solid grey;
}
.cells td.row-header{
  border:none;
  min-width: 50px;
}
.cells #editing{
  position:relative;
  min-width: 80px;
}
.cells input{
  position:absolute;
  top:0;
  padding:0;
  margin:0;
  border-radius:0;
  height:100%;
  width:100%;
}
.cells .equation{
  border: 2px solid black;
}

.cells .syntax-error{
  border: 2px solid red;
}


button {
  font-size: 16px;
  appearance: none;
  background-color: lightgrey;
  padding: 8px;
  border-radius: 4px;
  margin: 5px;
  border:none;
}

input{
  padding: 4px;
  margin:4px;
  border-radius:4px;
  border: 1px solid black;
}

select{
  padding: 4px;
  border-radius: 4px;
  margin: 4px;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
